
.container {
    margin: 80px auto;
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: repeat(3, 1fr); */
    background-color: rgba(156, 136, 255,0.5);
    border-radius: 100px;
}